@use '../../../scss/abstracts' as *;

.candlestick-chart {
    display: block;
    width: 100%;
    height: 100%;

    .x-axis, .y-axis {
        font-size: $font-size-xs;
        font-family: $font-family-mono;

        line, path {
            stroke: $color-border;
        }

        text {
            fill: $color-text-secondary;
        }
    }
}